.cart-main {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}

tr.bordered {
  border-bottom: 1px solid #000;
}

.rounded-pill {
  border-radius: 2rem;
}

.cart-main .btn {
  border-radius: 2rem !important;
}

button.text-dark {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
