@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Josefin:700);
.cdash-main {
  position: relative;
  overflow: hidden;
}

.cdash-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.add-to-cart {
  width: 26.37vh;
  height: 5.86vh;
  background: #ffab00;
  font-size: 2.2vh;
  line-height: 5.86vh;
  letter-spacing: 0.24vh;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -moz-border-radius: 2.93vh;
  -webkit-border-radius: 2.93vh;
  border-radius: 2.93vh;
  text-decoration: none;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.add-to-cart.size {
  width: 5.86vh;
  left: 13.19vh;
  font-size: 0;
  color: #e7bb45;
  letter-spacing: 0;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.add-to-cart.hover {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 13.19vh 2.93vh;
  -moz-transform-origin: 13.19vh 2.93vh;
  -o-transform-origin: 13.19vh 2.93vh;
  -ms-transform-origin: 13.19vh 2.93vh;
  transform-origin: 13.19vh 2.93vh;
}

.cart {
  width: 72px;
  height: 72px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  text-align: center;
  color: #616161;
  text-decoration: none;
  position: relative;
  right: 20px;
  top: 0px;
  display: block;
  background: #535558
    url(http://images.vfl.ru/ii/1484930184/14435803/15757225.png) center
    no-repeat;
  background-size: 36px;
}

.cart > span {
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  position: absolute;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: block;
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  margin: auto;
  background: #ffab00;
}

.cart > span.counter {
  left: 48px;
  bottom: 48px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}

#count {
  display: none;
}

.fa-user {
  font-size: 35px;
  margin-top: 15px;
}

.logout-link {
  font-size: 17px;
  margin-left: 23px;
  padding-top: 10px;
  color: black;
}

.user-welcome {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
}

.Menu-items-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
}

.menu-items {
  margin-top: 20%;
  margin-left: 20%;
}

.cdash-main .card {
  margin: 0;
  padding: 0 0 7.58vh;
  z-index: 1;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  background: inherit;
  cursor: pointer;
  width: 31.61vh;
  height: 45.36vh;
  border-radius: 20px;
  border: 0;
}

.middle {
  position: relative;
  transform: translate(-50%, -50%);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  border-radius: 20px;
}

.front img {
  height: 53.72vh;
  width: 100%;
  object-fit: cover;
}

.mitem-img {
  width: 36.63vh;
  height: 53.72vh;
}

.front {
  transform: perspective(63.22vh) rotateY(0deg);
}

.back {
  background: rgb(85, 70, 94);
  transform: perspective(63.22vh) rotateY(180deg);
}

.back h2 {
  font-size: 2.7vh;
  margin-bottom: 2vh !important;
  padding: 0px;
}

.Description {
  font-size: 1.7vh;
  margin-bottom: 1.5px !important;
  padding: 0px;
  line-height: 1.8;
}

.back h3 {
  font-size: 2.7vh;
  margin-bottom: 1.22vh;
  margin-top: 2vh;
}

.back-content {
  padding-top: 90%;
  left: 50%;
  color: #dfd7d1;
  text-align: center;
  width: 100%;
  height: 100%;
}

.card:hover > .front {
  transform: perspective(63.22vh) rotateY(-180deg);
}

.cdash-main .card:hover > .back {
  transform: perspective(63.22vh) rotateY(0deg);
}

.Category-title {
  font-size: 3.16vh;
  display: inline-block;
  padding: 1.05vh;
  margin-top: 1.05vh;
  margin-bottom: 2.11vh;
  border: 0.21vh solid maroon;
}

.to-top {
  font-size: 3vh;
  position: fixed;
  z-index: 5;
  bottom: 2.11vh;
  right: 2.11vh;
  color: #fff;
  background: #000000;
  padding: 0.95vh 1.68vh;
  border-radius: 50%;
}

.to-top:hover {
  color: #000000;
  background: #d7d7d7;
}

.category-section {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.47vh;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 16vh;
  padding-bottom: 16vh;
  background-color: lightgrey;
}

.swiper-slide {
  margin-top: 120px;
  background-position: center;
  background-size: cover;
  width: 31.61vh;
  height: 50.58vh;
}

.swiper-slide .category-image {
  height: 42.15vh;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.categ-img {
  width: 36.63vh;
  height: 48.84vh;
}

.swiper-slide .category-link {
  box-sizing: border-box;
  font-size: 2.11vh;
  padding: 2.11vh;
  height: 8.43vh;
  width: 31.61vh;
  background-color: white;
}

.swiper-slide .category-link h3 {
  margin: 0;
  padding: 0;
  font-size: 2.11vh;
  text-align: center;
  line-height: 2.11vh;
  color: #f44336;
}

.cdash-main .no-image {
  width: 100%;
  height: 100%;
}

.menu-head {
  padding-top: 1.05vh;
  font-size: 6.84vh;
  font-weight: 900;
  color: rgb(233, 24, 24);
  -webkit-text-stroke: 0.11vh rgb(31, 21, 21);
  font-family: monospace;
  text-align: center;
}

.no-image {
  transform: scale(1.8) !important;
  width: 36.63vh;
  height: 48.84vh;
}

@media (max-width: 992px) {
  .menu-items {
    margin-top: 35%;
    margin-left: 30%;
  }
  .swiper-slide {
    margin-top: 160px;
  }
}

@media (max-width: 576px) {
  .menu-items {
    margin-top: 45%;
    margin-left: 50%;
  }
}
