.admin-main {
  position: relative;
  margin-left: auto;
  margin-top: auto;
  min-height: 100%;
}

.admin-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.toggle-btn {
  cursor: pointer;
}

.Flash-Error {
  margin-top: 9.77vh;
  text-align: center;
  margin-left: 30em;
  margin-right: 30em;
  margin-bottom: -12.21vh;
  font-size: 2.2vh;
  color: white;
  background-color: red;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  min-width: 61.05vh;
}

#sideMenu {
  background: rgb(26, 18, 102);
  width: 34.19vh;
  height: 100%;
  margin-top: 9.77vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -34.19vh;
  transition: all 0.2s ease-in-out;
  z-index: 15;
}

#sideMenu.active {
  left: 0px;
}

#dashboard-menu {
  padding-top: 12.21vh;
}
#sideMenu .toggle-btn {
  position: absolute;
  margin-left: 36.63vh;
  margin-top: 3.66vh;
  background: black;
}

#sideMenu .toggle-btn span {
  display: block;
  width: 3.66vh;
  height: 0.61vh;
  margin: 0.61vh 0vh;
  background: white;
  transition: all 0.3s ease-in-out;
}

#items {
  display: block;
  padding: 1.83vh 3.66vh;
  color: rgb(216, 209, 209);
  text-decoration: none;
  font-weight: 73.26vh;
  transition: all 0.2s ease-in-out;
  font-family: sans-serif;
  font-size: 2.44vh;
}

#items:hover {
  background: rgb(11, 110, 110);
  border-left: 8px solid rgb(167, 118, 28);
  padding: 1.83vh 3.66vh 1.83vh 3.05vh;
  font-size: 2.93vh;
  color: rgb(13, 185, 65);
  transition: all 0.2s ease-in-out;
}

#dashboard-menu.fa {
  color: white;
  font-size: 3.5;
  padding-right: 1.22vh;
}

.active-dashboard {
  background-color: rgb(15, 15, 14);
}

.navigationbar {
  display: flex;
  top: 0vh;
  height: 9.77vh;
  position: absolute;
  background: rgb(56, 56, 56);
  width: 100%;
}

.dashboard-text {
  margin-left: 0vh;
  color: rgb(221, 226, 236);
  font-weight: 400;
  font-size: 3.42vh;
  font-family: sans-serif;
  padding-top: 1.83vh;
}

.logo {
  padding-left: 24.42vh;
  padding-top: 1.22vh;
  color: rgb(199, 169, 114);
}

.navbar-brand {
  width: 21.98vh;
  height: 7.33vh;
}

.restaurantname {
  margin-left: 3.66vh;
  font-size: 4.39vh;
  padding-top: 1.22vh;
  font-family: sans-serif;
  color: rgb(211, 217, 233);
  font-weight: 500;
  font-style: bold;
}

#loggedin-icon {
  color: white;
  margin-top: 0.37vh;
  font-size: 6.5vh;
}

#logout {
  margin-left: 2vh;
  font-size: 1.95vh;
  color: white;
  display: block;
  margin-left: auto;
}

#signout {
  padding-top: 1.22vh;
}

.menu-items-wrapper {
  width: 100%;
  height: 100%;
}

.Add-Menu {
  display: flex;
  margin-top: 18.31vh;
  height: 6.1vh;
  justify-content: center;
}

.Menu-Name {
  width: 48.84vh;
  margin-right: 1.22h;
  background: rgb(187, 220, 233);
  border-radius: 1.22vh;
  border: 1px solid rgb(54, 52, 52);
  color: rgb(46, 42, 42);
}

.Addmenu-Button {
  width: 12.21vh;
  background: rgb(50, 180, 50);
  color: black;
  border-radius: 1.22vh;
  border: 1px solid rgb(74, 80, 74);
  font-weight: 500;
}

.Menus-Available {
  margin-top: 12.21vh;
  font-size: 1.95vh;
  color: rgb(19, 19, 63);
  height: 2.93vh;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Menus-Available-active {
  max-width: 97.68vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18.31vh;
  font-size: 1.95vh;
  color: rgb(19, 19, 63);
  height: 2.93vh;
  align-items: center;
  display: block;
}

.menus-List {
  display: flex;
  padding-top: 1.22vh;
  background: rgb(192, 130, 192);
  border: 2px solid rgb(54, 52, 52);
  border-radius: 2.44vh;
  color: black;
  margin-top: 1.22vh;
  align-items: center;
  max-width: 97.68vh;
  margin-left: auto;
  margin-right: auto;
}

.menus-List:hover {
  background: rgb(153, 62, 153);
  transition: 0.2s ease-in-out;
}

.menus-List:hover .active-menu {
  background: rgb(29, 29, 116);
}

.menus-List:hover #edittext {
  visibility: visible;
  background-color: transparent;
}

.menuitems-container:hover #edittext {
  visibility: visible;
  background-color: transparent;
}

.menus-List:hover #Deletemenu-icon {
  visibility: visible;
}

.menus-list {
  display: flex;
  padding-top: 1.22vh;
  background: rgb(212, 215, 219);
  border: 2px solid rgb(54, 52, 52);
  border-radius: 2.44vh;
  color: black;
  margin-top: 1.22vh;
  align-items: center;
  max-width: 97.68vh;
  margin-left: auto;
  margin-right: auto;
}

.menus-list:hover {
  background: rgb(127, 134, 143);
  transition: 0.2s ease-in-out;
}

.menus-list:hover .active-menu {
  background: rgb(29, 29, 116);
}

.menus-list:hover #edittext {
  visibility: visible;
  background-color: transparent;
}

.menus-list:hover #Deletemenu-icon {
  visibility: visible;
}

.menu-name {
  font-size: 2.93vh;
  color: rgb(18, 18, 94);
  margin-left: 1.22vh;
  width: 18.31vh;
  margin-right: 1.22vh;
}

.menu-actions {
  padding-left: 12.21vh;
  display: flex;
}

.delete-button {
  width: 3.66vh;
}

#Deletemenu-icon {
  visibility: hidden;
  color: rgb(141, 24, 24);
  margin-left: 6.1vh;
}

#edittext {
  padding-left: 18.31vh;
  visibility: hidden;
  color: rgb(28, 28, 158);
}

.Add-Menu-item {
  display: flex;
  margin-top: 18.31vh;
  height: 6.1vh;
  justify-content: center;
}

.Menu-item-Name {
  width: 30.52vh;
  margin-right: 1.22vh;
  background: rgb(187, 220, 233);
  border-radius: 1.22vh;
  border: 1px solid rgb(54, 52, 52);
  color: rgb(46, 42, 42);
}

.Addmenu-item-Button {
  width: 12.21vh;
  background: rgb(50, 180, 50);
  color: black;
  border-radius: 1.22vh;
  border: 1px solid rgb(74, 80, 74);
  font-weight: 500;
  margin-left: -12vh;
}

.Menu-item-price {
  width: 21.98vh;
  margin-right: 1.22vh;
  background: rgb(187, 220, 233);
  border-radius: 1.22vh;
  border: 1px solid rgb(54, 52, 52);
  color: rgb(46, 42, 42);
}

.Menu-item-description {
  width: 42.73vh;
  margin-right: 1.22vh;
  background: rgb(187, 220, 233);
  border-radius: 1.22vh;
  border: 1px solid rgb(54, 52, 52);
  color: rgb(46, 42, 42);
}

.Menu-item-category {
  width: 12.21vh;
  margin-right: 1.22vh;
  background: rgb(187, 220, 233);
  border-radius: 1.22vh;
  border: 1px solid rgb(54, 52, 52);
  color: rgb(46, 42, 42);
}

.Menu-item-image {
  display: flex;
  color: red;
  padding-top: 0.61vh;
}

.image-text {
  padding-right: 0.61vh;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding-left: 18.31vh;
  font-size: 1.95vh;
  border: none;
  cursor: pointer;
}

.dropbdown:hover {
  transition: 2s all ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: top;
  background-color: #f9f9f9;
  margin-left: 6.1vh;
  min-width: 2.44vh;
  box-shadow: 0vh 0.98vh 1.95vh 0vh rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .menuitems-name {
  color: black;
  padding: 1.46vh 12.21vh;
  margin-bottom: 0vh;
  text-decoration: none;
  border-radius: 0.24vh;
  border: 2px solid rgb(54, 52, 52);
  width: 36.63vh;
}

.dropdown-content .menuitems-name:hover {
  background-color: rgb(113, 158, 177);
  transition: 0.3s all easy-in-out;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.menuitems {
  display: flex;
}

.MenuItem-checkbox {
  padding-left: 24.42vh;
  margin-left: 1.22vh;
  color: black;
}

.menuitems-container {
  display: flex;
  margin-top: 1.46vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 97.68vh;
  border-radius: 2.44vh;
  border: 2px solid rgb(54, 52, 52);
  font-size: 2.93vh;
  color: rgb(19, 19, 63);
  background: rgb(165, 173, 190);
}

.menuitems-container:hover {
  font-size: 2.93vh;
  color: rgb(19, 19, 63);
  background: rgb(97, 110, 141);
  transition: 0.2s all ease-in-out;
}

.menuitems-container:hover #menuitem-delete {
  visibility: visible;
}

.menu-item-name {
  padding-left: 2.44vh;
  width: 30.52vh;
}

.menu-item-amount {
  padding-right: 6.1vh;
}

#menuitem-delete {
  visibility: hidden;
  color: rgb(141, 24, 24);
  padding-left: 12.21vh;
}

.image {
  display: block;
}

.make-active-menu {
  color: black;
  background: rgba(233, 187, 187, 0.918);
  font-size: 1.95vh;
  font-weight: 400;
}

.make-active-menu:hover {
  background: rgba(219, 45, 45, 0.918);
}

.change-price {
  display: flex;
  width: 24.42vh;
  font-size: 2.44vh;
}

.edit-price {
  padding-left: 1.22vh;
  width: 24.42vh;
  color: black;
  background: rgb(155, 148, 148);
  border-radius: 0.24vh;
  border: 2px solid rgb(54, 52, 52);
}

.edit-price-button {
  padding-left: 1.22vh;
  color: black;
  background: rgb(93, 209, 93);
  border-radius: 0.24vh;
  border: 2px solid rgb(54, 52, 52);
}

.edit-price-button:hover {
  background: rgb(27, 158, 27);
}

.order-box {
  margin: auto;
}

.orders-List {
  display: block;
  padding-top: 1.22vh;
  background: rgb(73, 187, 70);
  border-radius: 2.44vh;
  border: 2px solid rgb(54, 52, 52);
  color: black;
  margin-top: 1.22vh;
  align-items: center;
  font-size: 2.93vh;
  max-width: 115.12vh;
  margin: auto;
}

.orders-List:hover {
  background: rgb(13, 134, 63);
  transition: 0.2s ease-in-out;
}

.deliver {
  color: black;
  margin-left: 97.68vh;
  background: rgb(117, 109, 109);
  align-items: center;
}
.deliver:hover {
  background: rgb(17, 16, 16);
  color: white;
}

.orders-list {
  display: block;
  padding-top: 1.22vh;
  background: rgb(199, 70, 70);
  border-radius: 2.44vh;
  border: 2px solid rgb(54, 52, 52);
  color: black;
  margin-top: 1.22vh;
  align-items: center;
  font-size: 2.93vh;
  justify-content: center;
  max-width: 115.12vh;
  margin: auto;
}

.pending-orders {
  text-align: center;
  font-size: 4.4vh;
  font-weight: 400;
  font-family: sans-serif;
  color: black;
}

.pending-text {
  font-size: 2.93vh;
  padding-top: 3.66vh;
  text-align: center;
}

.deliver-text {
  font-size: 2.93vh;
  padding-top: -6.1vh;
  text-align: center;
}

.delivered-orders {
  padding-top: 6.1vh;
  text-align: center;
  font-size: 4.4vh;
  font-weight: 400;
  font-family: sans-serif;
  color: black;
  padding-bottom: 1.22vh;
}

.not-delivered {
  text-align: right;
  padding-right: 2vh;
}

.order-items-name {
  width: 6.1vh;
}

.orders-list:hover {
  background: rgb(165, 26, 26);
  transition: 0.2s ease-in-out;
}

.orders-content {
  display: none;
  position: top;
  background-color: #f9f9f9;
  margin-left: 6.1vh;
  min-width: 2.44vh;
  box-shadow: 0vh 0.98vh 1.95vh 0vh rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.order-items {
  display: flex;
  justify-content: space-between;
  padding-left: 1.22vh;
  padding-top: 0.24vh;
  background: rgb(134, 180, 207);
  border-radius: 0.24vh;
  border: 2px solid rgb(54, 52, 52);
  color: black;
  align-items: center;
  font-size: 2.93vh;
  width: 100%;
}

.order-items:hover {
  background: rgb(50, 128, 173);
}

.order-id {
  text-align: center;
}

.order-date {
  text-align: center;
}

.order-name {
  padding-left: 6.1vh;
  margin-bottom: 6.1vh;
}

.order-total {
  padding-left: 12.21vh;
  display: flex;
}

.order-items-quantity {
  display: flex;
}

.order_item.quantity {
  margin-left: 6.1vh;
}

.order-summary-delivered {
  justify-content: space-between;
}

.bill-amount {
  display: flex;
}

.order-items-totalprice {
  padding-right: 2vh;
}

.order-items-totalprice .fa-rupee-sign {
  font-size: 2.93vh;
  font-weight: 501;
}

.bill-amount .fa-rupee-sign {
  margin-left: 1.22vh;
}

.order-summary {
  justify-content: flex-end;
  padding-right: 2vh;
}

.bill-amount-delivered {
  display: flex;
  padding-right: 2vh;
}
.bill-amount-delivered .fa-rupee-sign {
  margin-left: 1.22vh;
}

.order-items-total {
  padding-left: 1.22vh;
}

.user-list-container {
  display: flex;
  margin-top: 1.46vh;
  max-width: 97.68vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.44vh;
  border: 2px solid rgb(54, 52, 52);
  font-size: 2.93vh;
  color: rgb(19, 19, 63);
  background: rgb(165, 173, 190);
}

.user-list-container:hover {
  font-size: 2.93vh;
  color: rgb(19, 19, 63);
  background: rgb(97, 110, 141);
  transition: 0.2s all ease-in-out;
}

.user-list-container:hover .change-role {
  visibility: visible;
}

.user-id {
  padding-left: 2.44vh;
}

.user-name {
  padding-left: 2.44vh;
  width: 400px;
}

.user-mail {
  padding-left: 6.1vh;
}

.change-role {
  visibility: hidden;
  color: rgb(141, 24, 24);
  margin-left: 24.42vh;
  margin-right: 12.21vh;
  margin-top: 1.22vh;
}

.change-role:hover {
  background-color: rgb(70, 61, 61);
  color: rgb(206, 48, 48);
}

.dates {
  padding-top: 18.31vh;
  font-size: 2.93vh;
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.dates-sales {
  padding-top: 18.31vh;
  font-size: 2.93vh;
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.start-date {
  margin-left: 1.22vh;
  height: 4.88vh;
  border-radius: 1.22vh;
  border: 2px solid rgb(54, 52, 52);
}

.end-date {
  margin-left: 1.22vh;
  padding-left: 1.22vh;
  height: 4.88vh;
  border-radius: 1.22vh;
  border: 2px solid rgb(54, 52, 52);
}

.finddate-report {
  margin-left: 2.44vh;
  height: 4.88vh;
  color: black;
  background: rgb(121, 196, 165);
  border-radius: 1.22vh;
  border: 2px solid rgb(54, 52, 52);
}

.finddate-report:hover {
  background: rgb(16, 168, 36);
}

.datewise-report {
  background: rgb(141, 228, 206);
  margin-top: 2.44vh;
  border-radius: 2.44vh;
  border: 2px solid rgb(54, 52, 52);
  max-width: 100.12vh;
  margin-left: auto;
  margin-right: auto;
}

.datewise-report:hover {
  background: rgb(65, 175, 148);
}

.sales-report {
  margin-top: 12.21vh;
}

.report {
  display: block;
}

.sales-report-id {
  font-size: 2.93vh;
  padding-right: 9.77vh;
}

.sales-report-total {
  padding-left: 0.61vh;
  font-size: 2.93vh;
}

.report-list {
  display: flex;
  padding-left: 36.63vh;
  font-size: 2.93vh;
}

.report-list .fa-rupee-sign {
  padding-left: 1.22vh;
}

.sales-date {
  font-size: 4.4vh;
  font-weight: 500;
  color: black;
  padding-left: 1.22vh;
}

.today {
  font-size: 4.4vh;
  font-weight: 500;
  padding-left: 1.22vh;
}

.yesterday {
  font-size: 4.4vh;
  font-weight: 500;
  padding-left: 1.22vh;
}

.report-list-datewise {
  font-size: 2.93vh;
  font-weight: 200;
}

.daywise-total {
  display: flex;
  padding-left: 1.22vh;
}

.daywise-total .fa-rupee-sign {
  padding-left: 1.22vh;
}

.orderslist .fa-rupee-sign {
  padding-left: 1.22vh;
  padding-top: 0.37vh;
}

.date-wise-count {
  padding-left: 1.22vh;
  font-weight: 400;
}

.date-wise-total {
  padding-left: 0.98vh;
  font-weight: 400;
}

.datewise-stats {
  margin-top: 12.21vh;
  max-width: 100.12vh;
  margin-left: auto;
  margin-right: auto;
  background: rgb(104, 36, 144);
}

.datewise-stats:hover {
  background: rgb(66, 74, 197);
}

.orderslist {
  display: flex;
  font-size: 4.4vh;
  font-weight: 500;
  color: black;
  align-self: center;
}

.total-orders {
  font-size: 4.4vh;
  font-weight: 500;
  color: black;
  padding-left: 1.22vh;
}

.total-amount {
  font-size: 4.4vh;
  font-weight: 500;
  color: black;
  padding-left: 1.22vh;
}

.empty {
  padding-top: 24.42vh;
  background: none;
}

.user_name {
  margin-left: 1.22vh;
  height: 4.88vh;
  border-radius: 1.22vh;
  border: 2px solid rgb(54, 52, 52);
  width: 180;
}

.invoice {
  display: flex;
  font-size: 2.93vh;
  color: white;
  background-color: transparent;
  justify-content: center;
}

#print {
  margin-left: 8em;
}

.invoice-main {
  margin: 0;
  padding: 0;
  background-color: #fda674;
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  letter-spacing: 0.18vh;
}

.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 1.83vh;
  text-align: center;
  color: #fff;
  font-size: 1.71vh;
}

.paypal {
  position: relative;
  left: 50%;
  display: inline-block;
  max-width: 100%;
  width: auto;
  margin: 50px auto 25px;
  padding: 20px 0;
  clear: both;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.paypal__header {
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding: 30px 30px 45px;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.paypal__logo-wrapper {
  flex: 1 0 40%;
}

.paypal__logo {
  display: block;
  width: 50px;
  height: auto;
  margin-left: 15px;
}

.paypal__header-info {
  flex: 1 0 50%;
}

.paypal__date,
.paypal__ref {
  display: block;
  font-size: 19px;
  color: rgb(88, 78, 78);
  font-weight: 500;
}

.paypal__date {
  margin-bottom: 5px;
}

.paypal__subheader-wrapper {
  background: #fff;
  padding-bottom: 20px;
}

.paypal__subheader {
  padding: 0 45px 0 40px;
  border-left: 5px solid #029de0;
}

.paypal__username {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.paypal__help-text {
  color: rgb(88, 78, 78);
  font-weight: 300;
}

.paypal__cart {
  display: block;
  padding: 25px 30px 45px;
}

.paypal__cart-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.paypal__cart-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.paypal__cart-item {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px dashed #aaa;

  font-size: 18px;
}

.paypal__cart-item:first-child {
  border-top: 0;
}

.paypal__cart-item:last-child {
  margin-bottom: 0;
  border-top: 2px solid #ffe155;
}

.paypal__index {
  padding-right: 15px;
  color: rgb(88, 78, 78);
  font-weight: 300;
}

.paypal__id {
  font-size: 24px;
}

.paypal__delivery__date {
  font-size: 18px;
}
.paypal__item-name {
  color: rgb(88, 78, 78);
  font-weight: 300;
}

.paypal__item-price {
  float: right;
  letter-spacing: 1px;
}

.paypal__cart-total {
  font-size: 20px;
  text-transform: uppercase;
}

.paypal__footer {
  position: relative;
  padding: 30px 20px;
  border-top: 2px dashed #ff84a1;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paypal__footer::before,
.paypal__footer::after {
  content: "";
  position: absolute;
  top: 0;
  border: 4px solid transparent;
  -webkit-transform: translateY(calc(-50% - 1px));
  -ms-transform: translateY(calc(-50% - 1px));
  -o-transform: translateY(calc(-50% - 1px));
  transform: translateY(calc(-50% - 1px));
}

.paypal__footer::before {
  left: 0;
  border-left: 7px solid #ff85a1;
}

.paypal__footer::after {
  right: 0;
  border-right: 7px solid #ff85a1;
}

.paypal__barcode {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

@keyframes show-paypal {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}

.paypal__cart {
  background-color: #fff;
}

.paypal__footer {
  background-color: #fff;
}
