<body data-count="5">
<main class="cdash-main">
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="<%= asset_path('logo.png') %>" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="cart"><span></span></a>
            </li>
            <li class="nav-item">
              <a href="/signin" class="nav-link">Log In</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div>
      <a href="#" class="add-to-cart">add to cart</a>
    </div>
</main>
